.item {
  width: 100%;
  display: flex;
  padding: 4rem;
  @media only screen and (max-width: 768px) {
    padding: 4rem 2rem;
  }
  &__text {
    max-width: 700px;
    width: 50%;
    padding-right: 4rem;
    p {
      font-size: 20px;
    }

    @media only screen and (max-width: 768px) {
      width: 60%;
      padding-right: 0;
      margin: 0;
    }
    @media only screen and (max-width: 640px) {
      width: 100%;
      p {
        font-size: 16px;
      }
    }
    &--left {
      margin-left: auto;
      @media only screen and (max-width: 768px) {
        width: 60%;
        padding-right: 0;
        margin: 0;
      }
      @media only screen and (max-width: 640px) {
        width: 100%;
        padding-right: 0;
        margin: 0;
      }
    }
    &--right {
      margin-right: auto;
    }
  }
  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    > span {
      padding: 2px 5px;
      font-size: 18px;
      position: relative;
      margin-right: 1rem;
      &::after {
        position: absolute;
        content: "";
        height: 8px;
        width: 30px;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 10px;
        background-color: #5e3db3;
        @media only screen and (max-width: 420px) {
          bottom: -5px;
          height: 4px;
          width: 30px;
        }
      }
      &.athlete-3 {
        &::after {
          background-color: #fff !important;
        }
      }
      &.player-3 {
        &::after {
          background-color: #fff !important;
        }
      }
    }
    > h2 {
      color: #c2c2c2;
      font-size: 36px;
      margin: 0;
      text-transform: uppercase;
      @media only screen and (max-width: 640px) {
        font-size: 28px;
      }
      @media only screen and (max-width: 420px) {
        font-size: 22px;
      }
    }
  }
}
.space {
  min-width: 50%;
  @media only screen and (max-width: 768px) {
    min-width: 40%;
  }
  @media only screen and (max-width: 640px) {
    display: none;
  }
}
